{% extends "base.html" %}

{% block canonical_rel %}
<link rel="canonical" href="{{ SITEURL }}">{% endblock %}

{% block banner %}
{% include 'includes/banner.html' %}
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-7">
        <h3>The Project</h3>

        <p>Something about project... Lorem ipsum dolor sit amet, per in verterem
            scriptorem, pri ne
            modus salutandi disputando. Duo maiorum singulis in, patrioque gloriatur interesset his
            ei. Sumo graece equidem has at, cu vim principes democritum. Homero salutatus duo
            cu.</p>

        <h3>Project Updates</h3>
        {% include 'article_list.html' %}
    </div>
    <div class="col-md-5">
        <h3>Team Members</h3>
        <h5><a href="pages/team.html">David Nagel - Team Leader</a></h5>
        <h5><a href="pages/team.html">Justin Poehnelt - Recorder and Communicator</a></h5>
        <h5><a href="pages/team.html">Jack Burrell - Release Manager</a></h5>
        <h5><a href="pages/team.html">Ahmad Meer - Architect</a></h5>

        <h3>Project Sponsor</h3>
        <h5><a href="pages/team.html">Dr. Kyle Winfree</a></h5>

        <h3>Project Mentor</h3>
        <h5><a href="pages/team.html">Dr. Omar Badreddin</a></h5>

    </div>

</div>
{% endblock %}