{% if '/' in output_file|string() %}
        {% set team_page = '../pages/team.html' %}
{% else %}
        {% set team_page = 'pages/team.html' %}
{% endif %}

<h3>Team Members</h3>
<h5><a href="{{ team_page }}#david">David Nagel - Team Leader</a></h5>
<h5><a href="{{ team_page }}#justin">Justin Poehnelt - Communicator</a></h5>
<h5><a href="{{ team_page }}#jack">Jack Burrell - Release Manager</a></h5>
<h5><a href="{{ team_page }}#ahmad">Ahmad Meer - Architect</a></h5>
<h3>Project Sponsor</h3>
<h5><a href="http://nau.edu/cefns/informatics-computing/faculty/kyle-winfree/">Dr. Kyle Winfree</a>
</h5>

<h3>Project Mentor</h3>
<h5><a href="http://badreddin.com/">Dr. Omar Badreddin</a></h5>

